.cartBox {
  background-color: rgb(240, 240, 240);
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.CartName {
  font-weight: 500;
}
.cartBtn {
  background-color: rgb(255, 142, 142);
  color: rgb(253, 216, 216);
  padding: 3px;
  font-weight: bold;
  width: 100%;
  font-size: 1em;
  cursor: pointer;
}
.cartBtn:hover {
  background-color: rgb(167, 62, 62);
}

.cartBtn:active {
  border-radius: 15px;
}
