div,
p,
h2,
h3,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo {
  margin: 20px;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  margin: 1.5em auto;
  width: 80vw;
  /* border: 1px solid black; */
}
.prodList {
  display: flex;
  /* border: 1px solid green; */
  width: 65%;
  flex-wrap: wrap;
  justify-content: center;
}
.carBox {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.total {
  font-size: 1em;
  font-weight: 500;
  text-decoration: underline;
}
.buy {
  background-color: green;
  font-size: 1.2em;
  margin: 5px auto;
  width: 5em;
  border-radius: 5px;
  padding: 3px;
  color: rgb(193, 223, 189);
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .prodList {
    width: 80%;
  }
  .carBox {
    width: 20%;
  }
}
